body {
    margin: 0;
    background-image: url(../img/bilder/normalhomebackgroundblur.png);
    background-size: cover;
}

#wrapperWOaside {
    
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15vh 85vh auto;
    grid-template-areas:
    'header'
    'main'
    'footer'
}

#wrapperWaside {
    
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 15vh max-content 20vh;
    grid-template-areas:
    'header header'
    'aside main'
    'footer footer'
}

header {
    grid-area: header;
    background-color: #f39c12;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 10px 100px;
    border-bottom: 5px solid #ffbe57;
}

main {
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

footer {
    grid-area: footer;
    background-image: url(../img/bilder/footerimg.png);
    background-size: cover;
    box-shadow: 0px -10px 100px;
    border-width: 5px;
    border-top: 5px solid #ffbe57;
    display: flex;
    justify-content: space-around;
}

aside {
    grid-area: aside;
    background-color: chartreuse;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    
}

.buttons {
    background-color: #eda93b;
    font-size: 22px;
    font-weight: 900;
    padding: 25px 20px;
    border-radius: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.buttons:active {
    background-color: #d18710;
}
a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
}

.cart {
    height: 75px

}

.homesearchbar {
    padding: 20px 500px;
    border-radius: 25px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(165, 165, 165);
    box-shadow: 0px 0px 100px 12px;
}

.searchbartext {
    color: rgb(89, 89, 89);
}

ul {
    padding-right: 50px;
    list-style: none;
}

li {
    margin: 15px 0px;
}
